<div *ngIf="isLoading; else tvaDetails">
  <p>Chargement des détails de la TVA...</p>
</div>

<ng-template #tvaDetails>
  <div *ngIf="errors.length > 0" class="error-container">
    <p class="error-title">Erreur(s) :</p>
    <ul>
      <li *ngFor="let error of errors" class="error">{{ error }}</li>
    </ul>
  </div>

  <div *ngIf="tva; else noTVA">
    <h2>Détails de la TVA</h2>
    <div class="tva-details">
      <p><strong>ID:</strong> {{ tva._id || 'N/A' }}</p>
      <p><strong>Taux (%):</strong> {{ tva.taux }}</p>
      <p><strong>Montant (TND):</strong> {{ tva.montant | number:'1.2-2' }}</p>
      <p><strong>Déclaration Fiscale:</strong> {{ declaration ? declaration.periode : 'N/A' }}</p>
      <p *ngIf="declaration"><strong>Montant Total de la Déclaration:</strong> {{ declaration.montantTotal | number:'1.2-2' }} TND</p>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="goBack()">Retour</button>
    </div>
  </div>

  <ng-template #noTVA>
    <p>Aucune TVA trouvée.</p>
    <button mat-raised-button color="primary" (click)="goBack()">Retour</button>
  </ng-template>
</ng-template>