<div class="form-container">
    <h2>Ajouter un Client</h2>
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <label>Nom :</label>
      <input type="text" formControlName="nom">
      <div *ngIf="clientForm.get('nom')?.invalid && clientForm.get('nom')?.touched">
        Nom requis (min. 3 caractères).
      </div>
  
      <label>Email :</label>
      <input type="email" formControlName="email">
      <div *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched">
        Email invalide.
      </div>
  
      <label>Téléphone :</label>
      <input type="text" formControlName="telephone">
      <div *ngIf="clientForm.get('telephone')?.invalid && clientForm.get('telephone')?.touched">
        Doit contenir 8 chiffres.
      </div>
  
      <button type="submit" [disabled]="clientForm.invalid">Ajouter</button>
    </form>
  
    <p *ngIf="message">{{ message }}</p>
  </div>
  