<!-- src/app/app.component.html -->
<div class="container mt-4">
  <nav>
    <a [routerLink]="['/commandes']" class="btn btn-link">Commandes</a> |
    <a [routerLink]="['/fournisseurs']" class="btn btn-link">Fournisseurs</a> |
    <a [routerLink]="['/TVA']" class="btn btn-link">TVA</a> |
    <a [routerLink]="['/DF']" class="btn btn-link">DF</a> |
    <a [routerLink]="['/utilisateurs']" class="btn btn-link">Utilisateurs</a> |
    <a [routerLink]="['/comptes']" class="btn btn-link">Comptes</a> |
    <a [routerLink]="['/ecritures']" class="btn btn-link">Écritures</a>
  </nav>
  <router-outlet></router-outlet>
</div>