<!-- src/app/add-commande/add-commande.component.html -->
<div class="container mt-4">
    <h2>Ajouter une Commande</h2>
    <div class="card">
      <div class="card-body">
        <form #form="ngForm" (ngSubmit)="ajouterCommande()">
          <div class="form-group">
            <label for="quantite">Quantité</label>
            <input id="quantite" class="form-control" type="number" name="quantite" [(ngModel)]="nouvelleCommande.quantite" required>
          </div>
          <div class="form-group">
            <label for="prix">Prix (€)</label>
            <input id="prix" class="form-control" type="number" name="prix" [(ngModel)]="nouvelleCommande.prix" required>
          </div>
          <button type="submit" class="btn btn-success mt-2" [disabled]="form.invalid">Ajouter</button>
          <button type="button" class="btn btn-secondary mt-2 ml-2" (click)="annuler()">Annuler</button>
        </form>
      </div>
    </div>
  </div>