<div class="container">
  <h2>Liste des Utilisateurs</h2>
  <div class="mb-3">
    <button class="btn btn-success" (click)="goToAddUser()">Ajouter Utilisateur</button>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let user of User">
      <div class="card text-blue mb-3" style="max-width: 18rem;">
        <div class="card-header">Utilisateur</div>
        <div class="card-body">
          <h5 class="card-title">Nom: {{ user.nom }}</h5>
          <p class="card-text">Email: {{ user.email }}</p>
          <p class="card-text">Rôle: {{ getRoleName(user) }}</p>
          <button *ngIf="user._id" class="btn btn-sm btn-info me-1" (click)="viewUser(user._id)">Détails</button>
          <button *ngIf="user._id" class="btn btn-sm btn-primary me-1" (click)="editUser(user._id)">Modifier</button>
          <button *ngIf="user._id" class="btn btn-sm btn-danger" (click)="deleteUser(user._id)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>