<div>
  <h2>Liste des Déclarations Fiscales</h2>
  <button mat-raised-button color="primary" (click)="addNewDeclaration()">Ajouter une Nouvelle Déclaration</button>
  <table *ngIf="declarations.length > 0; else noDeclarations" class="declaration-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Période</th>
        <th>Montant Total</th>
        <th>Statut</th>
        <th>Compte Comptable</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let declaration of declarations">
        <td>{{ declaration._id }}</td>
        <td>{{ declaration.periode }}</td>
        <td>{{ declaration.montantTotal }}</td>
        <td>{{ declaration.statut }}</td>
        <td>{{ declaration.compteComptable }}</td>
        <td>
          <button mat-raised-button color="primary" (click)="editDeclaration(declaration._id!)">Modifier</button>
          <button mat-raised-button color="accent" (click)="viewDetails(declaration._id!)">Détails</button>
          <button mat-raised-button color="warn" (click)="deleteDeclaration(declaration._id!)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noDeclarations>
    <p>Aucune déclaration disponible.</p>
  </ng-template>
  <div *ngIf="errors.length > 0" class="error-container">
    <p class="error-title">Erreur(s) :</p>
    <ul>
      <li *ngFor="let error of errors" class="error">{{ error }}</li>
    </ul>
  </div>
</div>

