<div class="list-container">
  
    <!-- Connexion avec le formulaire -->
    <app-client-form (clientAdded)="addClient($event)"></app-client-form>
    <h2>Liste des Clients</h2>
    <ul *ngIf="clients.length > 0; else noClients">
      <li *ngFor="let client of clients; let i = index">
        <span>{{ client.nom }} - {{ client.email }} - {{ client.telephone }}</span>
        <button (click)="deleteClient(i)">Supprimer</button>
      </li>
    </ul>
  
    <ng-template #noClients>
      <p>Aucun client ajouté.</p>
    </ng-template>
    
  </div>
  