<div class="ms-container">
  <h2>Liste des Produits</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div class="form-container">
    <button (click)="editMode = true; selectedProduit = null; newProduit = { nom: '', categorie: '', prix: 0, stock: 0, seuilAlerte: 0 }">
      Ajouter un produit
    </button>
    
    
    <a routerLink="/home" class="btn btn-primary">
      <i class="fas fa-home"></i>
    </a>
  </div>
  <table class="table" *ngIf="produits.length > 0">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Prix</th>
        <th>Stock</th>
        <th>Alert</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produits" [class.alert-warning]="produit.stock !== undefined && produit.seuilAlerte !== undefined && produit.stock <= produit.seuilAlerte">
        <td>{{ produit.nom }}</td>
        <td>{{ produit.categorie }}</td>
        <td>{{ produit.prix | currency:'EUR' }}</td>
        <td>{{ produit.stock }}</td>
        <td>{{ produit.seuilAlerte }}</td>
        <td>
          <button (click)="editProduit(produit)">Modifier</button>
          <button (click)="deleteProduit(produit._id || '')">Supprimer</button>
          <button [routerLink]="['/stock-movements']" [queryParams]="{ produitId: produit._id }" class="btn btn-info btn-sm">Mouvement de Stock</button>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="produits.length === 0 && !errorMessage">Aucun produit trouvé.</p>

  <div *ngIf="editMode" class="form-container">
    <h3>{{ selectedProduit ? 'Modifier le produit' : 'Ajouter un produit' }}</h3>
    <form (ngSubmit)="selectedProduit ? updateProduit() : addProduit()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input
          type="text"
          id="nom"
          [(ngModel)]="newProduit.nom"
          name="nom"
          required
        />
      </div>
      <div class="form-group">
        <label for="categorie">Catégorie</label>
        <input
          type="text"
          id="categorie"
          [(ngModel)]="newProduit.categorie"
          name="categorie"
          required
        />
      </div>
      <div class="form-group">
        <label for="prix">Prix</label>
        <input
          type="number"
          id="prix"
          [(ngModel)]="newProduit.prix"
          name="prix"
          required
          min="0"
          step="0.01"
        />
      </div>
      <div class="form-group">
        <label for="stock">Stock</label>
        <input
          type="number"
          id="stock"
          [(ngModel)]="newProduit.stock"
          name="stock"
          required
          min="0"
          step="1"
        />
      </div>
      <div class="form-group">
        <label for="seuilAlerte">Seuil d'Alerte</label>
        <input
          type="number"
          id="seuilAlerte"
          [(ngModel)]="newProduit.seuilAlerte"
          name="seuilAlerte"
          required
          min="0"
          step="1"
        />
      </div>
      <button type="submit">{{ selectedProduit ? 'Enregistrer' : 'Ajouter' }}</button>
      <button type="button" (click)="cancelEdit()">Annuler</button>
    </form>
  </div>
</div>