<div class="chaima-container">
  <h2>Portail de Gestion</h2>
  <div class="button-grid">
    <button class="action-button" (click)="navigateToAddClient()">
      <span class="button-icon">👤</span>
      <span class="button-label">Ajouter un client</span>
    </button>
    <button class="action-button" (click)="navigateToClientList()">
      <span class="button-icon">📋</span>
      <span class="button-label">Consulter la liste des clients</span>
    </button>
    <button class="action-button" (click)="navigateToCreateDevis()">
      <span class="button-icon">📝</span>
      <span class="button-label">Créer un devis</span>
    </button>
    <button class="action-button" (click)="navigateToDevisList()">
      <span class="button-icon">📄</span>
      <span class="button-label">Consulter la liste des devis</span>
    </button>
    <button class="action-button" (click)="navigateToFactures()">
      <span class="button-icon">💸</span>
      <span class="button-label">Consulter la liste des factures</span>
    </button>
    <button class="action-button" (click)="navigateToGenerateRelance()">
      <span class="button-icon">⏰</span>
      <span class="button-label">Générer une relance</span>
    </button>
    <button class="action-button" (click)="navigateToDashboard()">
      <span class="button-icon">📊</span>
      <span class="button-label">Consulter dashboard</span>
    </button>
  </div>
</div>